@use '../susanoo';

.running-programs {
    padding: {
        bottom: susanoo.rem-calc(300);
    }
    .container {
        display: flex;
    }
    .content {
        max: {
            width: 50%;
        }
        margin: {
            left: susanoo.rem-calc(24);
        }
    }
}