<section class="big-teaser">
    <div class="wrapper">
        <div class="container">
            <div class="image-wrapper">
                <img src="/running-and-walking-big-teaser.jpg" alt="Big teaser photo">
            </div>
            <div class="content">
                <div class="key-headline">
                    <span>RUNNING SCHOOL</span>
                    <h2 class="headline h2">Boost Your Running Skills</h2>
                </div>
            </div>
        </div>
    </div>
</section>