<section class="cards-grid">
    <div class="wrapper">
        <ul class="cards">
            <li>
                <div class="panel">
                    <div class="icon icon-running">
                        <span>Running icon</span>
                    </div>
                    <h2 class="headline h5">PROGRAMS</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <button class="button" type="button">MORE</button>
                </div>
            </li>
            <li>
                <div class="panel">
                    <div class="icon icon-medal">
                        <span>Medal icon</span>
                    </div>
                    <h2 class="headline h5">RESULTS</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <button class="button" type="button">MORE</button>
                </div>
            </li>
            <li>
                <div class="panel">
                    <div class="icon icon-coaching">
                        <span>icon coaching</span>
                    </div>
                    <h2 class="headline h5">COACHING</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <button class="button" type="button">MORE</button>
                </div>
            </li>
            <li>
                <div class="panel">
                    <div class="icon icon-events">
                        <span>Events icon</span>
                    </div>
                    <h2 class="headline h5">EVENTS</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <button class="button" type="button">MORE</button>
                </div>
            </li>
        </ul>
    </div>
</section>