<section class="community">
    <div class="wrapper">
        <ul class="cards">
            <li>
                <img src="running-and-walking-community1.jpg" alt="Community photo">
            </li>
            <li>
                <img src="running-and-walking-community2.jpg" alt="Community photo">
            </li>
            <li>
                <img src="running-and-walking-community3.jpg" alt="Community photo">
            </li>
            <li>
                <img src="running-and-walking-community4.jpg" alt="Community photo">
            </li>
        </ul>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi asperiores dicta dolores,
                earum eos ex facilis fuga ipsum, molestias neque officia, quidem quis saepe sapiente sint tempora tempore voluptatibus?
            </p>
            <span class="headline h3">Join a network of more than 500 runners</span>
        </div>
    </div>
</section>