<section class="power-of-running">
    <div class="wrapper">
        <div class="introduction-container">
            <h2 class="headline h2">The power of running</h2>
            <p>
                Join a network of more than 500 runners supporting our local running community.
            </p>
        </div>
        <ul class="cards-gallery">
            <li>
                <img src="running-and-walking-power-of-running1.jpg" alt="card photo">
                <div class="content">
                    <h3 class="headline h5">Local Race</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </li>
            <li>
                <img src="running-and-walking-power-of-running2.jpg" alt="card photo">
                <div class="content">
                    <h3 class="headline h5">Networking</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </li>
            <li>
                <img src="running-and-walking-power-of-running3.jpg" alt="card photo">
                <div class="content">
                    <h3 class="headline h5">Programs</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>