<section class="trends">
    <div class="wrapper">
        <div class="container">
             <ul class="gallery">
                 <li>
                     <div class="image-wrapper">
                         <img src="running-and-walking-trends3.jpg" alt="highlighted photo">
                     </div>
                 </li>
                 <li>
                     <div class="image-wrapper is-highlighted">
                         <img src="running-and-walking-trends1.jpg" alt="highlighted photo">
                     </div>
                 </li>
                 <li>
                     <div class="image-wrapper">
                         <img src="running-and-walking-trends2.jpg" alt="highlighted photo">
                     </div>
                 </li>
             </ul>
            <div class="inner-wrapper">
                <div class="content">
                    <div>
                        <h2 class="headline h3">Top Running trends of 2021</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt dicta dolore ex, illum,
                            incidunt maiores minus necessitatibus non officia optio quis, quo repellat? Atque error ipsa officia? Culpa, perferendis?
                        </p>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt dicta dolore ex, illum,
                            incidunt maiores minus necessitatibus non officia optio quis, quo repellat? Atque error ipsa officia? Culpa, perferendis?
                        </p>
                        <button class="button-primary button-primary--pink" type="button">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>