@use '../susanoo';

.running-programs {
    padding: {
        bottom: susanoo.rem-calc(300);
    }
    .container {
        display: flex;
        @media only screen and (max-width: 640px) {
            flex-direction: column;
        }
    }
    .content {
        max: {
            width: 50%;
        }
        margin: {
            left: susanoo.rem-calc(24);
        }
        @media only screen and (max-width: 640px) {
            max: {
                width: unset;
            }
        }
    }
}